.serviceContent{
    display: grid;
    grid-template-areas: 'sechead sechead servmod1 servmod1 servmod1 servmod1 servmod1 servmod1'
                         'sechead sechead servmod2 servmod2 servmod2 servmod2 servmod2 servmod2'
                         'sechead sechead servmod3 servmod3 servmod3 servmod3 servmod3 servmod3';

}

.sectionHead{
    grid-area: sechead;
}
.serviceModule{
    display: flex;
    text-align: start;
    padding: 30px 0px;
    justify-content:space-between;
    grid-area:servmod1;
}
.serviceModule2{
    display: flex;
    text-align: start;
    padding: 30px 0px;
    justify-content:space-between;
    grid-area:servmod1;
}
.serviceModule3{
    display: flex;
    text-align: start;
    padding: 30px 0px;
    justify-content:space-between;
    grid-area:servmod1;
}
.serviceModule img{
    border-radius: 30px;
}
.serviceContent{
    grid-template-areas: 'sech';
}
@media screen and (max-width:799px){
    .serviceModule{
        flex-direction:column;
        justify-self: center;
        align-items:center;
    }
    
}