#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.who_we_are_container{
  padding:40px;
}
.carousel{
  display:flex;
  justify-content:center;
  max-width:92vw;
  gap:20px;
  padding:10px 0px;
}
.carousel img{
  width:240px;
  height:240px;
}
.section1{
  padding:20px;
}
.section1 img{
  max-width:145.14px;
  border-radius:15px;
}
.section2 img{
  max-width:145.14px;
  border-radius:15px;
}
.section3 img{
  max-width:145.14px;
  border-radius:15px;
}
.section1 hr{
  margin-top:60px;
}
.work_with_us{
  padding:174px 200px;
}

@media screen and (max-width:790px){
  #root{
    padding: 1rem 1rem;
  }
  
}

@media screen and (min-width:800px) and (max-width:1199x){
  #root{
    padding: 20px 0px;
  }
  
}