@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Outfit:wght@100..900&display=swap');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.heading1{
  font-family:"Outfit", sans-serif;
  font-optical-sizing:auto;
  font-weight:700px;
  font-style:normal;
  font-size:50px;
  letter-spacing:-2%;
  line-height:110%;
  color:#2C2825;
}
.heading2{
  font-family:"Outfit", sans-serif;
  font-optical-sizing:auto;
  font-weight:700px;
  font-style:normal;
  font-size:40px;
  letter-spacing:-2%;
  line-height:110%;
  color:#2C2825
}
.paragraph1{
  font-family:"Outfit", sans-serif;
  font-optical-sizing:auto;
  font-weight:400px;
  font-style:normal;
  font-size:17px;
  letter-spacing:-2.5%;
  line-height:140%;
  color:#2C2825;
}
.heading3{
  font-family:"Outfit", sans-serif;
  font-optical-sizing:auto;
  font-weight:700px;
  font-style:normal;
  font-size:14px;
  letter-spacing:-2%;
  line-height:140%;
  color:#2C2825
}
.caption1{
  font-family:"Outfit", sans-serif;
  font-optical-sizing:auto;
  font-weight:700px;
  font-style:normal;
  font-size:14px;
  letter-spacing:-2%;
  line-height:140%;
  color:#2C2825;
}
.display{
  font-family:"Caprasimo", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  letter-spacing:-3%;
  line-height:92%;
  color:#2C2825;
}
.caption1{
  font-family:"Outfit", sans-serif;
  font-optical-sizing:auto;
  font-weight:700px;
  font-style:normal;
  font-size:18px;
  letter-spacing:-0%;
  line-height:140%;
  color:#2C2825
}
.heading4{
  font-family:"Outfit", sans-serif;
  font-optical-sizing:auto;
  font-weight:700px;
  font-style:normal;
  font-size:15px;
  letter-spacing:-2.5%;
  line-height:140%;
  color:#2C2825
}
.paragraph2{
  font-family:"Caprasimo", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
  letter-spacing:-1%;
  line-height:140%;
  color:#2C2825;
}
.Accet1{
  color:#0248AA;
}
.Accet2{
  color:#496D4A;
}
.Accet3{
  color:#D3712C;
}
.Accet4{
  color:#772E9B;
}
.Accet5{
  color:#FFC800;
}
.Accet6{
  color:#0000;
}
.Accet7{
  color: #f7f7f7;
}
.divider{
  color: #595959;
}
.link{
  color:#2C2825;
}
.button_danger{
  background-color: #FFC800;
  padding:8px 12px 6px 12px;
  border-radius:4px;
  text-transform: uppercase;
}
@media screen and (min-width:800px) and (max-width:1199px){
  .heading1{
    font-size:45px;
  }
  .heading2{
    font-size:36px;
  }
  .paragraph1{
    font-size:16x;
  }
  .heading3{
    font-size:12px;
  }
  .caption1{
    font-size:14px;
  }
  .heading4{
    font-size:14px;
  }
  .paragraph2{
    font-size:22px;
  }


}
@media screen and (max-width:799px){
  .heading1{
    font-size:36px;
  }
  .heading2{
    font-size:24px;
  }
  .heading3{
    font-size:12px;
  }
  .caption1{
    font-size:12px;
  }
  .heading4{
    font-size:13px;
  }
  .paragraph2{
    font-size:18px;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
img{
  max-width: 92vw;
}